<div
    id="product{{ product_id }}cartPosition"
    class="flex flex-row justify-between mb-10"
    >

    <!-- Product name -->
    <div class="flex flex-col grow justify-center">
        <h3 class="text-l font-bold uppercase mb-3">
            <a hx-target="#content"
                hx-get="/products/{{ product.id }}"
                hx-replace-url="true"
                hx-boost="true"
                href="{{ product.absolute_url }}#offset">
                {% if product.name %}
                    {{ product.name }}
                {% else %}
                    {{ product.product_name }}
                {% endif %}
            </a>
        </h3>
    </div>


    <!-- Product price and configuration -->
    <div class="flex flex-col grow justify-center text-center">
        {% if product.price %}
        <p class="text-xl">{{ product.price + product.selected_configuration.additional_price }}₽</p>
        {% else %}
        <p class="text-xl">{{ product.basic_price + product.selected_configuration.additional_price }}₽</p>
        {% endif %}
        <p class="text-sm">{{ product.selected_configuration.name }}</p>
    </div>

    <!-- Counter -->
    <div class="flex flex-col grow justify-center text-center">
        <p class="text-lg">Количество:</p>
        {% if product.name %}
            {% include 'partials/product_counter.html' %}
        {% else %}
            <span class="text-lg bg-lightBlue rounded px-5 py-2 inline-block w-min mx-auto">{{ product.count }}</span>
        {% endif %}
    </div>


    {# Checking if we are in cart, and not in order #}
    {% if product.name %}
        <!-- Photo -->
        <img
            class="mx-auto"
            hx-trigger="load"
            hx-get="/photos/main?product_name={{ product.name }}&size=small"
            hx-swap="outerHTML"
            src="{{ url_for('static', path='images/loading.webp') }}"
            alt="{{ product.name }}"
        >
    {% endif %}


</div>

