{% if request.headers.get('hx-request') %}

<script>
    // Replace page header text
    var pageHeader = document.getElementsByTagName('header')[0];
    pageHeader.innerHTML = `
        <h1 id="page-header" class="text-indigo-50 text-4xl font-bold text-center mb-5 mt-2">Твоя корзина, {{ user.name }}</h1>
    `;

    document.title = '{{ shop.name }} | Корзина'
</script>

{% endif %}


{% if product_list %}
    <button
        hx-post="/order/create_from_cart"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-replace-url="true"
        class="bg-lightBlue rounded p-2 font-bold mx-auto inline-block"
        >Оформить заказ</button>

    <div id="cart" class="flex flex-col">
        {% for product in product_list %}
            {% include 'partials/cart_position.html' %}
        {% endfor %}
    </div>
{% else %}
    <p class="text-center font-bold text-white">
        В твоей корзине пусто 🙃. 
        Перейдём в <a class="hover:underline text-indigo-400" href="/products/catalog#offset">каталог</a>?
    </p>
{% endif %}

