{% if request.headers.get('hx-request') %}

<script>
    // Replace page header text
    var pageHeader = document.getElementsByTagName('header')[0];
    pageHeader.innerHTML = `
        <h1 id="page-header" class="text-indigo-50 text-4xl font-bold text-center mb-5 mt-2">Твоя корзина, {{ user.name }}</h1>
    `;

    document.title = '{{ shop.name }} | Корзина'
</script>

{% endif %}

{% if product_list %}
<div id="cart" class="md:grid md:grid-cols-4 md:gap-2">
    {% for product in product_list %}
    {% include 'partials/product_card.html' %}
    {% endfor %}
</div>
{% else %}
<p class="text-center font-bold text-white">
В твоей корзине пусто 🙃. 
Перейдём в <a class="hover:underline text-indigo-400"
    href="/products/catalog#offset"
    >каталог</a>?</p>
{% endif %}

