<div class="bg-black pt-4 bottom-0 w-full" hx-boost="true" hx-target="#content" hx-swap="innerHTML">
    <div class="flex flex-nowrap justify-evenly">
        <div class="flex flex-col items-center">
            <p class="font-bold font-xl mb-2">Помощь</p>
            <p><a class="hover:underline" href="#">Помощь в подборе</a></p>
            <p><a class="hover:underline" href="#">Доставка</a></p>
        </div>
        <div class="flex flex-col items-center">
            <p class="font-bold font-xl mb-2">Информация</p>
            <p><a class="hover:underline" href="#">Программа лояльности</a></p>
            <p><a class="hover:underline" href="#">Гарантия</a></p>
            <p><a class="hover:underline" href="#">Программа лояльности</a></p>
        </div>
        <div class="flex flex-col items-center">
            <p class="font-bold font-xl mb-2">О компании</p>
            <p><a class="hover:underline" href="/about">О нас</a></p>
        </div>
    </div>

    <hr class="w-2/3 mx-auto my-4">

    <div>
        <p class="text-center pb-2">© 2022 {{ shop.name }}. Все права защищены.</p>
    </div>
</div>

