<button id="mobile-menu-button" class="block md:hidden mx-auto mt-2 relative z-30 w-16 h-16" activated="false">
    <img src="{{ url_for('static', path='images/menu.png') }}" class="min-w-full max-h-full">
</button>


<div id="navbar-content" class="w-5/6 mx-auto flex justify-around gap-24 text-black">
    <!-- Logo -->
    <a href="/" hx-swap="outerHTML show:#page-header:top" hx-select="#content" hx-select-oob="#page-header" class="flex justify-start">
        {% if shop.logo_name %}
            <img class="w-32 self-center" src="{{ url_for('static', path='images/'+shop.logo_name) }}">
        {% else %}
            <p class="text-2xl font-bold w-5/12 h-min p-2 self-center text-center">{{ shop.name }}</p>
        {% endif %}
    </a>

    <!-- Menu rows -->
    <div class="grow pt-2.5">
        <!-- First navbar row -->
        <div class="flex justify-between items-center gap-10">
            <!-- Offers -->
            <div class="flex gap-10">
                <!-- Free delivery in Moscow -->
                <div class="flex justify-between gap-2 items-center">
                    <img class="w-9 h-9" src="{{ url_for('static', path='images/location.png') }}">
                    <p>
                        <a href="/secret" hx-select="#content" hx-select-oob="#page-header"
                            class="text-[#18a0fb] underline decoration-dashed underline-offset-2">
                            Бесплатная доставка
                        </a>
                        <span> по Москве и МО</span>
                    </p>
                </div>

                <!-- 6 months warranty for registered users -->
                <div class="flex justify-between gap-2 items-center">
                    <img class="w-9 h-9" src="{{ url_for('static', path='images/warranty.png') }}">
                        <p>
                            <a>6 месяцев <span class="text-[#18a0fb] underline decoration-dashed underline-offset-4">гарантии</span></a>
                        </p>

                </div>
            </div>

            <!-- Contact buttons -->
            <div class="flex justify-end items-center gap-5">

                <div class="flex gap-2">
                    <!-- Telegram -->
                    <div class="mb-2 text-center md:text-left">
                        <a href="https://t.me/EVMStore" target="_blank" class="block md:inline text-sm md:text-base">
                            <img src="{{ url_for('static', path='images/telegram.png') }}">
                        </a>
                    </div>

                    <!-- WhatsApp -->
                    <div class="mb-2 text-center md:text-left">
                        <a href="https://wa.me/79013556515" target="_blank" class="block md:inline text-sm md:text-base">
                            <img src="{{ url_for('static', path='images/whatsapp.png') }}">
                        </a>
                    </div>
                </div>

                <!-- Phone -->
               <div class="mb-2 text-center md:text-left">
                   <a href="tel:+79013556515" target="_blank" class="block md:inline text-sm md:text-lg font-['RisingSunBold'] text-nowrap">
                       +7 (901) 355-65-15
                   </a>
               </div>

            </div>
        </div>

        <!-- Second navbar row -->
        <div class="my-2 flex justify-between items-center">
            <!-- Links -->
            <menu class="font-['RisingSunBold'] flex justify-around gap-10">
                <a href="/products/catalog">Каталог ноутбуков</a>
                <a>Отзывы</a>
                <a href="/help" hx-select="#content" hx-select-oob="#page-header">Помощь в подборе</a>
                <a>Гарантия и доставка</a>
                <a href="/contacts" hx-select="#content" hx-select-oob="#page-header">Контакты</a>
            </menu>

            <!-- Buttons with icons -->
            <div class="flex justify-between items-center gap-2">
                <a href="/cart">
                    <div class="relative">
                        <img src="{{ url_for('static', path='images/cart.svg') }}"
                        class="w-8 h-8 rounded"
                        alt="Корзина"
                        >

                        <span id="cart_count" class="block absolute top-0 right-1 w-4 rounded-lg bg-lightBlue text-[0.5rem] text-center text-white"
                            hx-trigger="intersect once delay:300ms"
                            hx-swap="outerHTML"
                            hx-get="/cart/count"
                            hx-target="this"
                            hx-push-url="false"
                            hx-replace-url="false"></span>
                    </div>
                </a>

                <a href="/auth/profile"{% if not request.state.user %} hx-boost="false"{% endif %}>
                    {% if not request.state.user %}
                    <img src="{{ url_for('static', path='images/user.svg') }}"
                    class="w-8 h-8">
                    {% else %}
                    <img src="{{ request.state.user.profile_img_url }}"
                    class="w-8 h-8 rounded-full">
                    {% endif %}
                </a>

            </div>
        </div>

    </div>

</div>


<!--
<div id="navbar-content" class="invisible hidden md:visible md:flex flex-col sm:flex-row justify-between items-center h-[89%] md:h-full w-full md:w-5/6 mx-auto z-20 transition-all duration-500">
    {% if shop.logo_name %}
    <a href="/home#offset" hx-boost="false">
        <img class="w-40 self-center" src="{{ url_for('static', path='images/'+shop.logo_name) }}">
    </a>
    {% else %}
    <p class="text-2xl font-bold w-5/12 h-min p-2 self-center text-center"><a hx-boost="false" href="/">{{ shop.name }}</a></p>
    {% endif %}

    <menu hx-replace-url="true" hx-push-url="true" class="grow flex flex-col md:flex-row justify-evenly md:h-full">

        <a href="/products/catalog#offset">
            <div class="flex justify-center items-center w-20 h-14 sm:h-24">
                <img
                    src="{{ url_for('static', path='images/search.png') }}"
                    class="m-auto h-14 w-14 cursor-pointer rounded"
                    alt="Каталог"
                >
            </div>
        </a>

        <a href="/contacts" hx-select="#content" hx-select-oob="#page-header">
            <div class="flex justify-center items-center w-20 h-14 sm:h-24">
                <img
                src="{{ url_for('static', path='images/contacts.png') }}"
                class="m-auto h-14 w-14 cursor-pointer rounded"
                alt="Контакты"
                >
            </div>
            <script>
                htmx.on('htmx:afterSettle', (evt) => {
                    if (evt.detail.pathInfo.responsePath === '/contacts') {
                        setTimeout(() => document.querySelector('#offset').scrollIntoView(true), 50);
                    }
                });
            </script>
        </a>

        <a href="/cart#offset">
            <div class="relative flex justify-center items-center w-20 h-14 sm:h-24">
                <img
                    src="{{ url_for('static', path='images/cart.png') }}"
                    class="m-auto h-14 w-14 cursor-pointer rounded"
                    alt="Корзина"
                    >

                <span id="cart_count" class="absolute top-1 right-1 block rounded-lg p-0.5 bg-red-500"
                    hx-trigger="intersect once delay:300ms"
                    hx-swap="outerHTML"
                    hx-get="/cart/count"
                    hx-target="this"
                    hx-push-url="false"
                    hx-replace-url="false"></span>
            </div>
        </a>

    </menu>

    <div class="w-40"
        hx-swap="innerHTML show:#offset:bottom">
        {% if request.state.user %}
            <a href="/auth/profile" hx-boost="true" title="Профиль">
                {% if request.state.user.profile_img_url %}
                    <img src="{{ request.state.user.profile_img_url }}" class="w-20 h-20 rounded-lg mx-auto">
                {% else %}
                    <img src="{{ url_for('static', path='images/user.png') }}" class="w-20 h-20 rounded-lg mx-auto">
                {% endif %}
            </a>
        {% else %}
            <a href="/auth/login" hx-boost="false">
                <img src="{{ url_for('static', path='images/login.png') }}" class="w-20 h-20 rounded-lg mx-auto">
            </a>
        {% endif %}
    </div>

</div>

-->

<script type="text/javascript" async>
    MOBILE_MAX_WIDTH = 768;

    // Collapse navbar on scroll on desktop devices
    if (window.innerWidth > MOBILE_MAX_WIDTH) {
        window.onscroll = function () {
            const navbarContent = document.querySelector('#navbar-content');
            const navbar = document.querySelector('nav');
            if (document.body.scrollTop > window.innerHeight / 2 || document.documentElement.scrollTop > window.innerHeight / 2) {
                if (!navbarContent.classList.contains('scale-75')) {
                    navbarContent.classList.add('scale-75');
                    navbar.classList.add('opacity-50');
                }
            } else if (navbarContent.classList.contains('scale-75')) {
                navbarContent.classList.remove('scale-75');
                navbar.classList.remove('opacity-50');
            }
        };
    }

    // Mobile menu logic
    if (typeof(mobileMenuButton) === 'undefined') { let mobileMenuButton; }
    if (typeof(menuLinks) === 'undefined') { let menuLinks; }
    mobileMenuButton = document.getElementById('mobile-menu-button');
    menuLinks = document.querySelectorAll('#navbar-content a');

    if (typeof(navbarContent) === 'undefined') { let navbarContent; }
    if (typeof(navbar) === 'undefined') { let navbar; }
    if (typeof(mobileMenuButtonImg) === 'undefined') { let mobileMenuButtonImg; }
    navbarContent = document.querySelector("#navbar-content");
    navbar = document.querySelector('nav');
    mobileMenuButtonImg = mobileMenuButton.querySelector('img');

    function openMenu() {
        mobileMenuButton.setAttribute('activated', 'true');
        mobileMenuButton.classList.remove('w-16');
        mobileMenuButton.classList.add('h-[10%]');
        mobileMenuButtonImg.src = "{{ url_for('static', path='images/close.png') }}";
        mobileMenuButtonImg.classList.add('invert');
        
        navbarContent.classList.remove('hidden');
        navbarContent.classList.remove('invisible');
        navbarContent.classList.add('flex');
        
        navbar.classList.remove('h-[10dvh]');
        navbar.classList.remove('top-16');
        navbar.classList.add('h-[100dvh]');

        document.querySelector('#login_choice').classList.add('hidden');
    }

    function closeMenu() {
        mobileMenuButton.setAttribute('activated', 'false');
        mobileMenuButton.classList.add('w-16');
        mobileMenuButton.classList.remove('h-[10%]');
        mobileMenuButtonImg.src = "{{ url_for('static', path='images/menu.png') }}";
        mobileMenuButtonImg.classList.remove('invert');

        navbarContent.classList.add('hidden');
        navbarContent.classList.add('invisible');
        navbarContent.classList.remove('flex');

        navbar.classList.add('h-[10dvh]');
        navbar.classList.add('top-16');
        navbar.classList.remove('h-[100dvh]');

        document.querySelector('#login_choice').classList.remove('hidden');
    }

    function toggleMenu() {
        const activated = mobileMenuButton.getAttribute('activated') === 'true';
        if (!activated) {
            openMenu();
        } else {
            closeMenu();
        }
    }
    

    [...menuLinks, mobileMenuButton].forEach(btn => btn.addEventListener('click', () => {
        if (window.innerWidth > MOBILE_MAX_WIDTH) {
            return;
        }
        toggleMenu();
    }));

</script>

