<script>
    // Replace page header text
    var pageHeader = document.getElementsByTagName('header')[0];
    pageHeader.innerHTML = `
        <h1 id="page-header" class="text-4xl font-bold text-center mb-5 mt-2">Заказ {{ id }}</h1>
    `;

    document.title = '{{ shop.name }} | Заказ {{ id }}';
</script>

<div id="order{{ id }}" class="border border-white p-5">

    <h2 class="text-3xl">
        Сумма: {{ sum }}₽{% if payment and payment.status.value == 'success' %}<span class="text-green-500"> (оплачен)</span>{% endif %}
    </h2>
    <p class="mb-10" data-timestamp="{{ date.isoformat() }}">{{ date.strftime('%Y-%B-%d %H:%M') }}</p>
    

    <button class="bg-red-500 rounded p-2 font-bold mb-5"
        hx-delete="/order/{{ id }}/cancel" hx-target="#order{{ id }}"
        hx-replace-url="/order/"
        hx-confirm="Вы действительно хотите отменить заказ {{ id }}?"
        hx-swap="outerHTML">Отменить заказ</button>


    {% if editable %}
        <script>htmx.config.methodsThatUseUrlParams = ['get', 'put'];</script>
        
        <form class="w-1/2 mx-auto p-5 border border-white shadow shadow-darkPink rounded"
            hx-put="/order/{{ id }}" hx-target="#content"
            hx-swap="innerHTML" hx-params="*" hx-replace-url="/order/{{ id }}">
            <input type="hidden" name="order_id" value="{{ id }}">


            {% if not user %}
            <div> 
                <label for="email" class="block font-bold mb-2 after:content-['*'] after:text-red-500">Email:</label>
                <input type="email" name="email" id="email" class="text-black text-center w-full border border-gray-300 rounded p-2" value="" required>
            </div>
            {% endif %}

            <div> 
                <label for="buyer_name" class="block font-bold mb-2 after:content-['*'] after:text-red-500">Имя покупателя:</label>
                <input type="text" name="buyer_name" id="buyer_name" value="{{ buyer_name }}" required
                    class="text-black text-center w-full border border-gray-300 rounded p-2">
            </div>

            <div> 
                <label for="buyer_phone" class="block font-bold mb-2 after:content-['*'] after:text-red-500">Телефон:</label>
                <input type="text" name="buyer_phone" id="buyer_phone" class="text-black text-center w-full border border-gray-300 rounded p-2" value="{{ buyer_phone }}" required>
            </div>

            <div>
                <label for="delivery_address" class="block font-bold mb-2 after:content-['*'] after:text-red-500">Адрес доставки:</label>
                <input type="text" name="delivery_address" id="delivery_address" class="text-black text-center w-full border border-gray-300 rounded p-2" value="{{ delivery_address }}" required>
            </div>

            <div> 
                <label for="comment" class="block font-bold mb-2">Комментарий к заказу:</label>
                <textarea name="comment" id="comment" class="text-black w-full border border-gray-300 rounded p-2">{{ comment }}</textarea>
            </div>


            <button type="submit" class="bg-lightBlue rounded p-2 font-bold mt-5"
                hx-target="#content" hx-swap="innerHTML"
                >Сохранить заказ</button>

        </form>

    {% else %}
        <script>htmx.config.methodsThatUseUrlParams = ['get'];</script>

        <button class="bg-lightBlue rounded p-2 font-bold mt-5"
            hx-get="/order/{{ id }}/edit" hx-target="#content"
            hx-swap="innerHTML"
            hx-replace-url="true">Редактировать заказ</button>

        {% if buyer_name != '' and buyer_phone != '' and (not payment or not payment.status.value == 'success') %} 
            <button class="bg-green-500 rounded p-2 font-bold mt-5"
                hx-get="/order/payment/{{ id }}" hx-target="#content"
                hx-replace-url="/order/payment/{{ id }}"
                hx-swap="innerHTML">Перейти к оплате</button>

        {% endif %}

        <p>Комментарий: {{ comment }}</p>
        <p>Имя покупателя: {{ buyer_name }}</p>
        <p>Телефон: {{ buyer_phone }}</p>
        <p>Адрес доставки: {{ delivery_address }}</p>

    {% endif %}


    <h2 class="text-3xl my-5">Товары</h2>
    {% for product in products %}
        {% include 'partials/cart_position.html' %}
    {% endfor %}

</div>
