<div class="flex flex-col" id="product{{ product_id }}priceTabs" role="tablist">
    {% for config in configurations %}
        <button
            role="tab"
            aria-controls="product{{ product_id }}priceValue"
            aria-selected="{% if config.id == selected_configuration.id %}true{% else %}false{% endif %}"
            config-name="{{ config.name }}"
            class="rounded transition-all duration-700 {% if config.id == selected_configuration.id %}bg-lightBlue{% endif %}"
            hx-trigger="loadPrice"
            hx-target="#product{{ product_id }}priceValue"
            hx-select="#product{{ product_id }}priceValue"
            hx-get="/products/{{ product_id }}/prices/{{ config.id }}">{{ config.name }}</button>

    {% endfor %}
        
</div>

<script type="text/javascript" async>
    if (typeof(priceButtons) === 'undefined'){ let priceButtons; }
    if (typeof(previousSelectedButton) === 'undefined'){ let previousSelectedButton; }
    if (typeof(configuration) === 'undefined'){ let configuration; }
    priceButtons = document.querySelectorAll('#product{{ product_id }}priceTabs button[role="tab"]');
    previousSelectedButton = document.querySelector('#product{{ product_id }}priceTabs button[role="tab"][aria-selected="true"]');
    configuration = document.querySelector('#product{{ product_id }}configuration');


    priceButtons.forEach(button => {
        button.addEventListener('mouseover', function() {
            button.dispatchEvent(new Event('loadPrice'));
            button.setAttribute('aria-selected', true);
            previousSelectedButton.setAttribute('aria-selected', false);

            setTimeout(() => { configuration.innerText = button.getAttribute('config-name'); }, 200);

            priceButtons.forEach(btn => btn.classList.remove('bg-lightBlue'));
            button.classList.add('bg-lightBlue');
        })

        button.addEventListener('mouseout', function() {
            previousSelectedButton.dispatchEvent(new Event('loadPrice'));
            button.setAttribute('aria-selected', false);
            previousSelectedButton.setAttribute('aria-selected', true);

            setTimeout(() => { configuration.innerText = previousSelectedButton.getAttribute('config-name'); }, 200);

            priceButtons.forEach(btn => btn.classList.remove('bg-lightBlue'));
            previousSelectedButton.classList.add('bg-lightBlue');
        })

        button.addEventListener('click', function() {
            button.dispatchEvent(new Event('loadPrice'));
            button.setAttribute('aria-selected', true);
            previousSelectedButton.setAttribute('aria-selected', false);

            setTimeout(() => { configuration.innerText = button.getAttribute('config-name'); }, 200);

            priceButtons.forEach(btn => btn.classList.remove('bg-lightBlue'));
            button.classList.add('bg-lightBlue');

            previousSelectedButton = button;
        })
    })
</script>

<div id="product{{ product_id }}priceValue" role="tabpanel">
    <strong class="text-4xl mt-2">
        {{ basic_price + selected_configuration.additional_price }}₽
    </strong>

</div>

