<div class="" id="product{{ product_id }}priceTabs" role="tablist">
    <div class="my-5">
        <h3 class="font-bold">Оперативная память (RAM):</h3>
        {% for config in ram_configurations %}
        <button
            role="tab"
            aria-controls="product{{ product_id }}priceValue"
            aria-selected="{% if config.ram == selected_configuration.ram_amount %}true{% else %}false{% endif %}"
            ram-config
            possible-setups="{% for setup in config.setups %}{{ setup.id }}//{{ config.ram }}//{{ setup.ssd }}//{{ setup.name }}///{% endfor %}"
            class="p-2 rounded-2xl border transition-all duration-700 {% if config.ram == selected_configuration.ram_amount %}border-black{% else %}border-gray-300{% endif %}"
            hx-trigger="loadPrice"
            hx-target="#product{{ product_id }}priceValue"
            hx-select="#product{{ product_id }}priceValue"
            hx-get="/products/{{ product_id }}/prices/">{{ config.ram }} ГБ</button>
        {% endfor %}
    </div>

    <div class="my-5">
        <h3 class="font-bold">Общий объём накопителей (SSD):</h3>
        {% for config in ssd_configurations %}
        <button
            role="tab"
            aria-controls="product{{ product_id }}priceValue"
            aria-selected="{% if config.ssd == selected_configuration.ssd_amount %}true{% else %}false{% endif %}"
            ssd-config
            possible-setups="{% for setup in config.setups %}{{ setup.id }}//{{ setup.ram }}//{{ config.ssd }}//{{ setup.name }}///{% endfor %}"
            class="p-2 rounded-2xl border transition-all duration-700 {% if config.ssd == selected_configuration.ssd_amount %}border-black{% else %}border-gray-300{% endif %}"
            hx-trigger="loadPrice"
            hx-target="#product{{ product_id }}priceValue"
            hx-select="#product{{ product_id }}priceValue"
            hx-get="/products/{{ product_id }}/prices/">{{ config.ssd }} ГБ</button>
        {% endfor %}
    </div>

        
</div>

<script type="text/javascript" async>
    if (typeof(ramButtons) === 'undefined') { let ramButtons; }
    if (typeof(ssdButtons) === 'undefined') { let ssdButtons; }
    if (typeof(previousSelectedRamButton) === 'undefined') { let previousSelectedRamButton; }
    if (typeof(previousSelectedSsdButton) === 'undefined') { let previousSelectedSsdButton; }
    if (typeof(configurationNameElt) === 'undefined'){ let configurationNameElt; }
    ramButtons = document.querySelectorAll('button[ram-config]');
    ssdButtons = document.querySelectorAll('button[ssd-config]');
    previousSelectedRamButton = document.querySelector('button[ram-config][aria-selected="true"]');
    previousSelectedSsdButton = document.querySelector('button[ssd-config][aria-selected="true"]');
    configurationNameElt = document.querySelector('#product{{ product_id }}configuration');

    function changeSelectedBtnTo(btn, isRamBtn) {
        // changing attributes
        if (isRamBtn) {
            previousSelectedRamButton.setAttribute('aria-selected', false);
        } else {
            previousSelectedRamButton.setAttribute('aria-selected', false);
        }
        btn.setAttribute('aria-selected', true);

        // changing styles
        if (isRamBtn) {
            ramButtons.forEach(b => {
                b.classList.remove('border-black');
                b.classList.add('border-gray-300');
            });
        } else {
            ssdButtons.forEach(b => {
                b.classList.remove('border-black');
                b.classList.add('border-gray-300');
            });
        }
        btn.classList.remove('border-gray-300');
        btn.classList.add('border-black');

        // changing variables
        if (isRamBtn) {
            previousSelectedRamButton = btn;
        } else {
            previousSelectedSsdButton = btn;
        }
    }

    function getButtonSetups(btn) {
        const setupStrings = btn.getAttribute('possible-setups').split('///').slice(0, -1);
        const setups = new Array;
        for (const setup of setupStrings) {
            const [id, ram, ssd, name] = setup.split('//');
            setups.push({id: id, ram: ram, ssd: ssd, name: name});
        }
        return setups;
    }

    function hasCommonSetup(btn1, btn2) {
        const [setupArr1, setupArr2] = [getButtonSetups(btn1), getButtonSetups(btn2)];
        for (const setup1 of setupArr1) {
            for (const setup2 of setupArr2) {
                if (setup1.id === setup2.id) {
                    return true;
                }
            }
        }
        return false;
    }

    function getCommonSetup(btn1, btn2) {
        const [setupArr1, setupArr2] = [getButtonSetups(btn1), getButtonSetups(btn2)];
        for (const setup1 of setupArr1) {
            for (const setup2 of setupArr2) {
                if (setup1.id === setup2.id) {
                    return setup1;
                }
            }
        }
        throw new Error('No common setups');
    }


    ramButtons.forEach((ramBtn) => {
        ramBtn.addEventListener('click', function handleClick(evt) {
            if (!hasCommonSetup(ramBtn, previousSelectedSsdButton)) {
                for (const ssdBtn of ssdButtons) {
                    if (hasCommonSetup(ramBtn, ssdBtn)) {
                        changeSelectedBtnTo(ssdBtn, false);
                        break;
                    }
                }
            }
            
            changeSelectedBtnTo(ramBtn, true);

            const commonSetup = getCommonSetup(ramBtn, previousSelectedSsdButton);
            setTimeout(() => { configurationNameElt.innerText = commonSetup.name; }, 200);

            ramBtn.dispatchEvent(new Event('loadPrice'));
        });
    });

    ssdButtons.forEach((ssdBtn) => {
        ssdBtn.addEventListener('click', function handleClick(evt) {
            if (!hasCommonSetup(ssdBtn, previousSelectedRamButton)) {
                for (const ramBtn of ramButtons) {
                    if (hasCommonSetup(ssdBtn, ramBtn)) {
                        changeSelectedBtnTo(ramBtn, true);
                        break;
                    }
                }
            }

            changeSelectedBtnTo(ssdBtn, false);

            const commonSetup = getCommonSetup(ssdBtn, previousSelectedRamButton);
            setTimeout(() => { configurationNameElt.innerText = commonSetup.name; }, 200);

            ssdBtn.dispatchEvent(new Event('loadPrice'));
        });
    });

    htmx.on('htmx:configRequest', (evt) => {
        if (typeof(evt.detail.triggeringEvent) !== 'undefined' && evt.detail.triggeringEvent.type === "loadPrice") {
            if (!/prices\/\d+/g.test(evt.detail.path)) {
                evt.detail.path += getCommonSetup(previousSelectedRamButton, previousSelectedSsdButton).id;
            }
        }
    });

</script>

<div id="product{{ product_id }}priceValue" role="tabpanel">
    <strong class="text-4xl mt-2">
        {{ basic_price + selected_configuration.additional_price }}₽
    </strong>

</div>

