<div
    id="product{{ product.id }}"
    class="border border-gray-800 bg-darkPink rounded flex flex-col justify-between w-full h-full p-3 mb-2 text-center"
    hx-boost="true">

    <h3 class="text-l font-bold uppercase mb-2">
        <a hx-target="#content" href="{{ product.absolute_url }}">{{ product.name }}</a>
    </h3>

    <img
        class="mx-auto"
        hx-trigger="load"
        hx-get="/photos/main?product_name={{ product.name }}&size=small"
        hx-swap="outerHTML"
        src="{{ url_for('static', path='images/loading.webp') }}"
        alt="{{ product.name }}"
    >

    <p class="text-sm">{{ product.description.replace('\n', '<br>') | safe | truncate(50) }}</p>
    <a class="font-bold hover:underline" hx-target="#content" href="{{ product.absolute_url }}">More info</a>

    <p class="price w-1/2 bg-darkBlue text- rounded my-2 mx-auto">
        <span class="font-bold">{{ product.price }} ₽</span>
    </p>

    {% if request.state.user %}
    {% include 'partials/product_counter.html' %}
    {% endif %}

</div>
