<div
    id="product{{ product.id }}card{% if product.selected_configuration %}{{ product.selected_configuration.id }}{% endif %}"
    class="rounded-lg w-[48%] md:w-full px-1 py-3 mb-2 flex flex-col justify-between text-center text-black cursor-pointer brightness-100 hover:brightness-105 group
    bg-gradient-to-br from-white via-gray-100 to-gray-200 shadow-[9px_9px_18px_0px_#c4c4c4,-9px_-9px_18px_0px_#e0e0e0]"
    hx-boost="true"
    hx-get="{{ product.absolute_url }}#offset"
    hx-swap="innerHTML show:#offset:bottom"
    hx-push-url="{{ product.absolute_url }}"
    hx-target="#content">

    <!-- Photo -->
    <div class="box-border flex flex-col justify-center mb-5 relative">
        <img
            class="mx-auto max-h-full"
            hx-trigger="load"
            hx-target="this"
            hx-get="/photos/main?product_name={{ product.name | urlencode }}&size=small"
            hx-swap="outerHTML"
            hx-push-url="false"
            src="{{ url_for('static', path='images/loading.webp') }}"
            alt="{{ product.name }}"
        >

        <div class="absolute bottom-0 right-0 w-max rounded flex justify-center md:gap-2 items-center bg-orange-400 opacity-85 p-[1px] md:p-0.5 text-white">
        {% if not product.selected_configuration %}
            {% if product.ram_amounts and product.ssd_amounts %}
                <p class="text-center text-base md:text-lg uppercase">до</p>
                <div class="flex flex-col justify-around p-0.5">
                    <p class="text-[0.5rem] md:text-base bg-lightBlue mb-1 py-[1px] px-0.5 rounded"><strong>{{ product.ram_amounts|max }}</strong> ГБ RAM</p>
                    <p class="text-[0.5rem] md:text-base bg-darkPink py-[1px] px-0.5 rounded"><strong>{{ product.ssd_amounts|max }}</strong> ГБ SSD</p>
                </div>
            {% endif %}
        {% else %}
            <div class="flex flex-col justify-around p-0.5">
                <p class="text-[0.5rem] md:text-base bg-lightBlue mb-1 py-[1px] px-0.5 rounded"><strong>{{ product.selected_configuration.ram_amount }}</strong> ГБ RAM</p>
                <p class="text-[0.5rem] md:text-base bg-darkPink py-[1px] px-0.5 rounded"><strong>{{ product.selected_configuration.ssd_amount }}</strong> ГБ SSD</p>
            </div>
        {% endif %}
        </div>

    </div>

    <!-- Product info -->
    <div class="box-border flex flex-col justify-around">

        <!-- Product name -->
        <h3 class="text-lg font-bold box-border group-hover:underline">
            {{ product.short_name|replace('\n', '<br/>')|safe }}
        </h3>

        <!-- Reviews -->
        <div class="box-border my-1 flex flex-col justify-center group-hover:underline">
            <p class="text-sm flex justify-evenly"><span class="text-red-600 font-bold">★ 4.9</span><span class="text-gray-500">25 отзывов</span></p>
        </div>

        <!-- Price -->
        <div class="box-border w-3/4 mx-auto flex flex-col md:flex-row justify-between items-center">
            {% if product.selected_configuration %}
            <strong class="text-2xl inline-block">{{ product.price + product.selected_configuration.additional_price }}₽</strong>
            {% else %}
            <strong class="text-2xl inline-block">{{ product.price }}₽</strong>
            {% endif %}

            <img
                src="{{ url_for('static', path='images/add_to_cart.png') }}"
                class="w-14"
                hx-trigger="click"
                hx-target="#content"
                hx-swap="innerHTML show:#product{{ product.id }}photos:bottom"
                hx-push-url="true">

        </div>

    </div>

</div>

