{% if photo_urls %}

    {% if photo_urls[1:] %}
        <div
            class="w-1/2 md:w-1/5 h-full p-1 box-border border border-gray-800 shadow-xl shadow-sky-400 rounded cursor-pointer transition-all duration-300">
            <img class="w-full" src="{{ photo_urls[0] }}"/>
        </div>

        {% for link in photo_urls[1:] %}
        <div
            class="w-1/2 md:w-1/5 h-full p-1 box-border border border-gray-300 shadow-l shadow-gray-800 rounded cursor-pointer transition-all duration-300"
            >
            <img class="w-full" src="{{ link }}" />
        </div>
        {% endfor %}

        <script>
        document.querySelectorAll('#small-photos div').forEach(photo => {
            photo.addEventListener('click', () => {
                if(typeof(largePhoto) !== 'undefined') { let largePhoto; }
                largePhoto = document.querySelector('#large-photo');

                // Set loading class
                largePhoto.classList.add('loading');

                // Get new photo source
                let newSrc = photo.querySelector('img').getAttribute('src').replace('thumbs/', 'small/');

                // Change large photo source
                largePhoto.querySelector('img').src = newSrc;

                // Change shadows and borders
                let previousSelectedPhoto = document.querySelector('#small-photos div.shadow-xl');

                // Remove previous shadow and border
                previousSelectedPhoto.classList.remove('shadow-xl');
                previousSelectedPhoto.classList.remove('shadow-sky-400');
                previousSelectedPhoto.classList.remove('border-gray-800');

                // Set new shadow and border for previous selected photo
                previousSelectedPhoto.classList.add('shadow-l');
                previousSelectedPhoto.classList.add('border-gray-300');

                // Set shadow and border for new selected photo
                photo.classList.remove('shadow-l');
                photo.classList.add('shadow-xl');
                photo.classList.add('shadow-sky-400');

                photo.classList.remove('border-gray-300');
                photo.classList.add('border-gray-800');

                largePhoto.querySelector('img').onload = (e) => {
                    console.log(e.target);
                    largePhoto.classList.remove('loading');
                    console.log('Image loaded');
                };
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#small-photos div.shadow-xl').click();
        });

        </script>

    {% else %}

        {% if request.query_params.get('size') == '' %}
            <img
                src="{{ photo_urls[0] }}"
                class="mx-auto"
                id="large-photo"
                >
                <script type="text/javascript" async>
                    setTimeout(() => {
                        document.querySelector('#small-photos div').click();
                    }, 500);               
                </script>
                <!-- Size large -->

        {% else %}
            <img
                src="{{ photo_urls[0] }}"
                class="rounded-t-3xl max-w-full max-h-full inline-block mx-auto"
            >
            <!-- <p>Size small</p> -->

        {% endif %}


        {% if request.query_params.get('size') == '' %}
            <div id="loader" class="h-72"> </div>

        {% endif %}

    {% endif %}

{% endif %}
