{% if (request.headers.get('hx-target', '') == 'content' or '/cart' in request.headers.get('hx-current-url', '/cart')) and '/cart' in request.url.path %}
    
    {% if product.count %}
        {% if product.selected_configuration %}
        <p class="my-2" id="product{{ product.id }}counter{{ product.selected_configuration.id }}">
            <a
                class="text-2xl cursor-pointer"
                hx-boost="{% if product.count == 1 %}false{% else %}true{% endif %}"
                hx-trigger="click"
                hx-put="/cart/remove"
                hx-target="#product{{ product.id }}counter{{ product.selected_configuration.id }}"
                hx-swap="outerHTML"
            >-</a>

            <span class="bg-lightBlue rounded p-2 font-bold">{{ product.count }}</span>

            <a
                class="text-2xl cursor-pointer"
                hx-boost="true"
                hx-trigger="click"
                hx-put="/cart/add"
                hx-target="#product{{ product.id }}counter{{ product.selected_configuration.id }}"
                hx-swap="outerHTML"
            >+</a>

        </p>

        {% else %}
        <p class="my-2" id="product{{ product.product_id }}counter{{ product.configuration_id }}">
            <a
                class="text-2xl cursor-pointer"
                hx-boost="{% if product.count == 1 %}false{% else %}true{% endif %}"
                hx-trigger="click"
                hx-put="/cart/remove"
                hx-target="#product{{ product.product_id }}counter{{ product.configuration_id }}"
                hx-swap="outerHTML"
            >-</a>

            <span class="bg-lightBlue rounded p-2 font-bold">{{ product.count }}</span>

            <a
                class="text-2xl cursor-pointer"
                hx-boost="true"
                hx-trigger="click"
                hx-put="/cart/add"
                hx-target="#product{{ product.product_id }}counter{{ product.configuration_id }}"
                hx-swap="outerHTML"
            >+</a>

        </p>

        {% endif %}


    {% elif product.count == 0 %}
    <p
        {% if product.selected_configuration %}
            id="product{{ product.id }}counter{{ product.selected_configuration.id }}"
        {% else %}
            id="product{{ product.product_id }}counter{{ product.configuration_id }}"
        {% endif %}
        class="my-2"
    >
        <span class="bg-darkPink rounded p-2 font-bold">{{ product.count }}</span>
        <a
            class="text-2xl cursor-pointer"
            hx-boost="true"
            hx-trigger="click"
            hx-put="/cart/add"
            {% if product.selected_configuration %}
            hx-target="#product{{ product.id }}counter{{ product.selected_configuration.id }}"
            {% else %}
            hx-target="#product{{ product.product_id }}counter{{ product.configuration_id }}"
            {% endif %}
            hx-swap="outerHTML"
            >+</a>
    </p>
    {% endif %}

{% else %}

    {% if product.count %}
        <p class="my-2">Добавлен в корзину ({{ product.count }} шт.)</p>
        <a 
            class="hover:underline"
            href="/cart#offset"
            hx-boost="true"
            hx-trigger="click"
            hx-get="/cart"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-replace-url="true"
        >
            {% if user %}Перейти в корзину{% else %}Быстрый заказ{% endif %}
        </a>

    
    {% else %}
        <img
            src="{{ url_for('static', path='images/add_to_cart.png') }}"
            class="my-2 cursor-pointer rounded w-14 mx-auto box-border"
            id="product{{ product.id }}counter"
            hx-boost="true"
            hx-trigger="click"
            hx-put="/cart/add"
            hx-target="#product{{ product.id }}counter"
            hx-swap="outerHTML"
        >

    {% endif %}

{% endif %}
