{% if request.headers.get('hx-request') %}
<script>
    // Replace page header text
    var pageHeader = document.getElementsByTagName('header')[0];
    pageHeader.innerHTML = `
    <h1 id="page-header" class="text-4xl font-bold text-center my-5">
        {{ user.name }}
    </h1>`;

    document.title = '{{ shop.name }} | Профиль'
</script>
{% endif %}

<div id="profile-info" class="w-full md:w-3/4 mx-auto h-min relative" hx-target="#content" hx-push-url="true">

    {% if user.profile_img_url %}
        <img src="{{ user.profile_img_url }}" class="w-60 h-60 mb-2 mx-auto rounded-xl">
    {% else %}
        <img src="{{ url_for('static', path='images/user.png') }}" class="w-60 h-60 mb-2 mx-auto rounded-xl invert">
    {% endif %}

    <div class="flex justify-around items-center w-4/5 md:w-1/2 mx-auto rounded-3xl mb-4 p-1 bg-black">
        {% if request.state.user.is_admin %}
        <a href="/admin" class="block rounded w-14 h-14 box-border">
            <img src="{{ url_for('static', path='images/admin.png') }}" class="w-full h-full" alt="Панель администратора" title="Панель администратора">
        </a>
        {% endif %}

        <a id="edit-profile-btn" href="/auth/profile/edit" class="block rounded w-14 h-14 box-border"
            hx-boost="true"
            hx-target="#profile-info"
            hx-swap="beforeend">
            <img src="{{ url_for('static', path='images/edit.png') }}" class="w-full h-full" alt="Редактировать профиль" title="Редактировать профиль">
        </a>

        <script>
            if(typeof(editProfileBtn) == "undefined") { let editProfileBtn; }
            editProfileBtn = document.querySelector("#edit-profile-btn");
            editProfileBtn.addEventListener("click", () => {
                editProfileBtn.classList.add("hidden");
            });
        </script>

        <a href="/order" class="block rounded w-14 h-14 box-border" hx-boost="true" hx-push-url="/order">
            <img src="{{ url_for('static', path='images/orders.png') }}" class="w-full h-full" alt="Мои заказы" title="Мои заказы">
        </a>

        <a href="/auth/logout" class="block rounded-lg w-14 h-14 box-border">
            <img src="{{ url_for('static', path='images/sign_out.png') }}" class="w-full h-full" alt="Выход" title="Выход">
        </a>
    </div>

</div>
