<script>
    // Replace page header text
    var pageHeader = document.getElementsByTagName('header')[0];
    pageHeader.innerHTML = `
        <h1 id="page-header" class="text-indigo-50 text-4xl font-bold text-center mb-5 mt-2">Мои заказы</h1>
    `;
</script>

{% if not orders %}
    <p class="text-center font-bold text-white">
        Заказов пока нет 🙃. Перейдём в <a class="hover:underline text-indigo-400" href="/products/catalog#offset">каталог</a>?
    </p>
{% endif %}

{% for order in orders %}
<div id="order{{ order.id }}" class="border border-white p-5">

    <h2 class="text-3xl font-bold uppercase text-center mb-5 mt-1">Заказ {{ order.id }}</h2>
    <button hx-get="/order/{{ order.id }}" hx-target="#content" hx-swap="innerHTML" hx-replace-url="true"
        class="bg-lightBlue rounded p-2 font-bold">Редактировать</button>

    <h3 class="text-2xl text-right">Сумма: {{ order.sum }}₽</h3>
    <p class="mb-10 text-right" data-timestamp="{{ order.date.isoformat() }}">{{ order.date.strftime('%Y-%B-%d %H:%M') }}</p>

    <h3 class="text-3xl mb-5">Товары</h3>
    {% for product in order.products %}

        <div class="mb-5">
            <h4 class="text-xl">{{ product.product_name }}</h4>
            <p>Цена: {{ product.basic_price + product.selected_configuration.additional_price }}₽</p>
            <p>Конфигурация: {{ product.selected_configuration.name }} (+{{ product.selected_configuration.additional_price }}₽)</p>
            <p>Количество: {{ product.count }} штук{% if product.count % 10 in [2, 3, 4] %}и{% elif product.count % 10 == 1 %}а{% endif %}</p>
        </div>

    {% endfor %}

</div>
{% endfor %}




