@font-face {
  font-family: "RisingSunRegular";
  src: url("/static/fonts/Rising\ Sun/RisingSun-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexRegular";
  src: url("/static/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Regular.ttf");
}


body a:hover {
    /* text-decoration: underline 1px dashed; */
}

