nav {
    transition: all 0.5s;
}

.navbar-content {
    transition: all 0.5s;
}

.collapsed-navbar {
    opacity: 0.5;
}

.collapsed-navbar .navbar-content {
    transform: scale(0.75);
}

.mobile-menu-button {
    display: none;
    width: 80px;
    height: 40px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

@media (max-width: 640px) {
    .collapsed-navbar {
        height: 10dvh;
    }
    .closed-navbar {
        opacity: 0;
        height: 0;
    }
    .closed-navbar a {
        display: none;
    }
    .closed-navbar a div {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .collapsed-navbar {
        opacity: 0.9;
        transform: translateY(0);
        height: 10dvh;
    }
    .collapsed-navbar .navbar-content {
        transform: scale(1);
    }
}
