<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{shop.name}}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/indicator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dropdown.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
</head>

<body class="bg-sky-950">
    {% block navbar %}
        {% include 'partials/navbar.html' %}
    {% endblock %}

    <header class="mt-32">
        {% block header %}<h1 id="page-header">Default Header</h1>{% endblock %}</h1>
    </header>

    <main id="content" class="w-full md:w-8/12 mx-auto mt-2">
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}Default Footer{% endblock %}
    </footer>
</body>

</html>
