<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{shop.name}}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/indicator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tinkoff_pay_form.css') }}">

    <!-- JS -->
    <!-- HTMX -->
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', path='js/banner.js') }}" async></script>
    <!-- <script src="{{ url_for('static', path='js/yandex_pay.js') }}" async></script> -->
    <script src="{{ url_for('static', path='js/config_to_cart.js') }}" async></script>
    <script src="{{ url_for('static', path='js/datetime_localizator.js') }}" async></script>

</head>

<body class="bg-darkBlue text-white p-0 m-0">
    <div id="promocode"
        class="fixed top-0 w-full h-16 bg-white text-lightBlue text-center leading-loose z-20">
        Введи промокод <i><b>ничего</b></i> и получи <b>скидку 100% на всю техникуу!</b>
    </div>

    {% block navbar %}
        <nav class="bg-black text-white fixed top-16 w-full z-20 h-screen sm:h-24 "
            hx-boost="true" hx-target="#content" hx-swap="innerHTML">
        {% include 'partials/navbar.html' %}
        </nav>
    {% endblock %}

    <div id="offset" class="h-40 invisible"></div>

    <header>
        {% block header %}<h1 id="page-header">Default Header</h1>{% endblock %}
    </header>

    <main id="content" class="w-full md:w-9/12 mx-auto mt-2 text-center">
        {% block content %}{% endblock %}
    </main>

    <footer class="mt-4">
        {% block footer %}
            {% include 'partials/footer.html' %}

        {% endblock %}
    </footer>

</body>

</html>
