<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{shop.name}}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/indicator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">

    <!-- JS -->
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
</head>

<body class="bg-darkBlue text-white p-0 m-0">
    <div id="promocode"
        class="fixed top-0 w-full h-8 bg-white text-lightBlue text-center leading-loose z-20">
        Введи промокод <i><b>ничего</b></i> и получи <b>ничего</b>
    </div>

    {% block navbar %}
        <nav class="bg-black text-white fixed top-8 w-full z-20"
            hx-boost="true" hx-target="#content" hx-swap="innerHTML">
        {% include 'partials/navbar.html' %}
        </nav>
    {% endblock %}

    <div id="offset" class="h-32 invisible"></div>

    <header class="mt-8">
        {% block header %}<h1 id="page-header">Default Header</h1>{% endblock %}
    </header>

    <main id="content" class="w-full md:w-8/12 mx-auto mt-2">
        {% block content %}{% endblock %}
    </main>

    <footer class="mt-4">
        {% block footer %}
            {% include 'partials/footer.html' %}

            <div>
                <hr class="w-2/3 mx-auto">
            </div>

            <nav class="bg-black text-white w-full z-20 sticky scale-105"
                hx-boost="true" hx-target="#content" hx-swap="innerHTML">
            {% include 'partials/navbar.html' %}
            </nav>
        {% endblock %}
    </footer>
</body>

</html>
