{% if not request.headers.get('hx-request') %}
    {% extends '_base.html' %}

    {% block title %}{{ shop.name }} | Каталог{% endblock %}

    {% block header %}
    <h1 id="page-header" class="text-4xl font-bold text-center text-indigo-50 mb-5 mt-2">Товары в наличии</h1>
    {% endblock %}

{% else %}
    <script type="text/javascript">
        pageHeader = document.getElementsByTagName('header')[0];
        pageHeader.innerHTML = `
            <h1 id="page-header" class="text-4xl font-bold text-center text-indigo-50 mb-5 mt-2">Товары в наличии</h1>
        `;
        pageHeader.classList.remove('uppercase');

        document.title = '{{ shop.name }} | Каталог';
    </script>
{% endif %}


{% block content %}
<div id="products" class="md:grid md:grid-cols-3 md:gap-3">
    <img
        src="{{ url_for('static', path='images/loading.webp') }}"
        id="products-loader"
        hx-trigger="intersect once"
        hx-get="/products?offset=0"
        hx-swap="outerHTML"
        >
</div>
{% endblock %}
