{% if not request.headers.get('hx-request') %}
    
    {% extends '_base.html' %}

    {% block title %}{{ shop.name }} | Главная{% endblock %}

    {% block header %}
    <div class="banners-container">
        <div id="banners" class="mb-1 w-full overflow-hidden mx-auto">
            {% for banner in banners %}
            <div class="banner bg-darkBlue flex justify-between items-center mb-2 h-screen transition-all duration-500">
                <div class="bg-darkBlue flex flex-col justify-end w-full h-full overflow-hidden rounded-lg"
                    style="background: url('{{ banner.img_url }}') center/cover no-repeat;">
                        
                        <!--
                        <h1 class="text-white text-center text-3xl font-bold mb-2" style="text-shadow: 2px 2px 10px white;">{{ banner.name }}</h1>
                        -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    {% endblock %}

{% else %}
    <script type="text/javascript">
    document.title = '{{ shop.name }} | Главная';

    pageHeader = document.getElementById('page-header');
    pageHeader.innerHTML = `
    <div class="banners-container">
        <div id="banners" class="mb-1 w-full overflow-hidden mx-auto">
            {% if banners[0] %}
            <div class="banner bg-darkBlue flex justify-between items-center mb-2 h-screen transition-all duration-500">
                <div class="bg-darkBlue flex flex-col justify-end w-full h-full overflow-hidden rounded-lg"
                    style="background: url('{{ banners[0].img_url }}') center/cover no-repeat;">
                        
                    <!--
                    <h1 class="text-white text-center text-3xl font-bold mb-2" style="text-shadow: 2px 2px 10px white;">{{ banners[0].name }}</h1>
                    -->

                </div>
            </div>
            
            {% endif %}

            {% for banner in banners[1:] %}
            <div class="banner bg-darkBlue flex justify-between items-center mb-2 h-screen transition-all duration-500" style="display: none;">
                <div class="bg-darkBlue flex flex-col justify-end w-full h-full overflow-hidden rounded-lg"
                    style="background: url('{{ banner.img_url }}') center/cover no-repeat;">
                        
                    <!--
                    <h1 class="text-white text-center text-3xl font-bold mb-2" style="text-shadow: 2px 2px 10px white;">{{ banner.name }}</h1>
                    -->

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    `;

    setTimeout(function() {
        banners = getBanners();
        totalBanners = banners.length;
        currentBannerIndex = 0;
    }, 500);

    // Hide all banners except the first one
    for (let i = 1; i < totalBanners; i++) {
        banners[i].style.display = 'none';
    }


    </script>
{% endif %}

<!-- Script for banners -->
<script type="text/javascript" src="{{ url_for('static', path='js/banners.js') }}" async></script>

{% block content %}

{% if reload %}
    {% include 'empty.html' %}
{% endif %}

<div id="main-content" class="container text-center mx-auto my-8">
    <p class="text-indigo-50">
        Добро пожаловать
        {% if request.state.user %}, <span class="font-bold">{{ request.state.user.name }}</span>,{% endif %}
        ну и т.д.<br />
        Здесь вы можете найти корпоративные ноутбуки в замечательном состоянии и по привлекательной цене.
    </p>

   <div id="new-products">
       <h2 class="text-3xl font-bold text-center text-white mb-1 mt-12">Новинки</h2>
       <div id="products" class="md:grid md:grid-cols-4 md:gap-2">
           {% for product in products %}
               {% include 'partials/product_card.html' %}
           {% endfor %}
       </div>
   </div>


{% endblock %}
