{% extends '_base.html' %}

{% block title %}{{ shop.name }} | Home{% endblock %}

{% block header %}
<h1 id="page-header" class="text-4xl font-bold text-center text-indigo-50 mb-5 mt-2">Home Page</h1>

{% endblock %}

{% block content %}
    <div id="content" class="container text-center">
        <p>
            Добро пожаловать{% if request.state.user %}, <span class="font-bold">{{ request.state.user.name }}</span>,{% endif %} ну и т.д.<br/>
            Здесь вы можете найти БУ корпоративные ноутбуки в замечательном состоянии и по привлекательной цене.
        </p>

    </div>
{% endblock %}

