{% extends '_base.html' %}

{% block title %}Login{% endblock %}


{% block header %}<h1 id="page-header" class="text-4xl font-bold text-center text-indigo-50 mb-5 mt-2">Login</h1>{% endblock %}


{% block content %}

<!-- Google sign-in -->
<script src="https://accounts.google.com/gsi/client" async></script>
<div id="g_id_onload"
     data-client_id="935226770770-a46ho936db2qegqer0nufds50cajul0h.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="/auth/login/google"
     data-auto_select="false"
     data-itp_support="true">
</div>

<div class="g_id_signin w-1/2 mx-auto my-5 flex justify-center"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>

<!-- Tinkoff sign-in -->
<script src="https://sso-forms-prod.cdn-tinkoff.ru/tinkoff-id/widget.js"></script>
<div id="container-for-tid-button" class="w-1/2 mx-auto my-5 flex justify-center"></div>
<script type="text/javascript" async>
    const authParams = {
      redirectUri: '{{ shop.public_url }}home',
      responseType: 'code',
      clientId: 'sadfsfasfaszfsa',
      state: 'some-state',
    }

    const uiParams = {
      container: '#container-for-tid-button',
      size: 'm',
      color: 'primary',
      text: 'Tinkoff',
      target: '_self'
    }

    const tidSdk = new TidSDK(authParams);

    tidSdk.addButton(uiParams);
</script>

<!-- Yandex sign-in -->
<script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
<div id="yaButtonContainer" class="w-1/4 mx-auto my-5 flex justify-center"></div>
<script type="text/javascript" async>
  window.addEventListener('message', (event) => {
    if (event.origin !== '{{ shop.public_url }}') {
      
    }});  
  window.YaAuthSuggest.init(
    {
      client_id: 'a84759ce6fca43beab9f850640f933ca',
      response_type: 'token',
      redirect_uri: '{{ shop.public_url }}auth/login/yandex',
    },
    '{{ shop.public_url }}auth/login/yandex',
    {
      view: "button",
      parentId: "yaButtonContainer",
      buttonSize: 'm',
      buttonView: 'main',
      buttonTheme: 'dark',
      buttonBorderRadius: "22",
      buttonIcon: 'ya',
    }
  )
  .then(({handler}) => handler())
      .then(data => { if(data.hasOwnProperty('access_token') && data.hasOwnProperty('expires_in')) { 
        window.location.replace(
          '{{ shop.public_url }}auth/login/yandex#access_token='
          + data.access_token
          + '&token_type=bearer&expires_in='
          + data.expires_in
        );
  .catch(error => console.log('Обработка ошибки', error))
</script>

{% endblock %}

