{% extends '_base.html' %}

{% block title %}{{ shop.name }} | Программа лояльности{% endblock %}

{% block header %}
<h1 id="page-header" class="text-4xl font-bold text-center mb-4 mt-2">Программа лояльности</h1>
{% endblock %}

{% block content %}

{% if request.headers.get('hx-request') %}

<script>
    // Replace page header text
    var pageHeader = document.getElementsByTagName('header')[0];
    pageHeader.innerHTML = `
        <h1 id="page-header" class="text-4xl font-bold text-center mb-4 mt-2">Программа лояльности</h1>
    `;

    document.title = '{{ shop.name }} | Программа лояльности'
</script>

{% endif %}

<p class="text-center mb-5">В данном разделе вы можете узнать как получить скидку, если вы уже были нашим клиентом.</p>

<div class="my-5 mx-auto w-max h-[70dvh]">
   <video src="https://pub-8dad9fb788704075a85e929377d4d155.r2.dev/Promo%20videos/help%20to%20choose.mp4"
       poster="https://pub-8dad9fb788704075a85e929377d4d155.r2.dev/Promo%20videos/help%20to%20choose.png"
       controls loop playsinline
       class="h-full">
   </video>
</div>

<p class="text-center">
    Лорем ипсум долор сит амет, еос не алияуип сапиентем инцоррупте, нам омнис диссентиас ут.
    Еу яуодси омиттам торяуатос про, нуллам менандри цонтентионес ест но.
    Мел ет либрис реферрентур, вис еним долор ат. Не яуо зрил омниум иудицабит, не меи еррем лобортис. Дуо те елит цетеро.
    Еум яуод садипсцинг делицатиссими еу, ат яуис аццусата меа.
<br>
    Еррем иуварет минимум ех мел, меа еу фабулас импедит, цум долор ностер ат. Ерант сонет инимицус ин при, ан хинц идяуе сонет меи.
    Ут патриояуе реформиданс яуо, цу аетерно луцилиус десеруиссе нец. Мунди минимум про ат, но вих мовет еяуидем репрехендунт, мел вереар веритус ут.
    Адхуц нуллам адиписци меи не.
<br>
    Постеа пхаедрум петентиум при ет, еам опортере цонцлусионемяуе не. Нец цу хомеро апериам темпорибус.
    Сед натум цорпора адиписцинг еу. Виси велит феугаит еум ут, сале ириуре модератиус при ан. Ет яуем принципес сцрипсерит яуи.
<br>
    Ут репримияуе цотидиеяуе меи, ех аудире бландит сед, ут еос диам сцрипта глориатур. Новум моллис сцрипсерит яуи еа.
    Ат сеа алии промпта нострум, тота уллум при те. Цонцептам цонтентионес вим ех.
<br>
    Ат нам дицерет дефиниебас, нисл адиписци нам еа. Яуо те одио видит. Дебет еррорибус делицатиссими яуо ин.
    Цу лорем ерудити десеруиссе меи, цу ерант еуисмод вих.
</p>


{% endblock %}




