{% extends '_base.html' %}

{% block title %}{{ shop.name }} | Мои заказы{% endblock %}

{% block header %}
    <h1 id="page-header" class="text-4xl font-bold text-center mb-5 mt-2">Мои заказы</h1>
{% endblock %}

{% block content %}

{% if not orders %}
    <p class="text-center font-bold">
        Заказов пока нет 🙃. Перейдём в <a href="/products/catalog#offset">каталог</a>?
    </p>
{% endif %}

{% for order in orders %}
<div id="order{{ order.id }}" class="md:w-1/2 mx-auto border rounded-lg p-5 mb-10">

    <h2 class="text-3xl font-bold uppercase text-center mb-5 mt-1">Заказ {{ order.id }}</h2>
    <button class="bg-black rounded p-1"
        hx-get="/order/{{ order.id }}"
        hx-target="#content"
        hx-swap="innerHTML"
        hx-push-url="true">
        <img src="{{ url_for('static', path='images/view.png') }}" class="w-14 h-14" alt="Просмотр заказа" title="Просмотр заказа">
    </button>

    <h3 class="text-2xl text-right">Сумма: {{ order.sum }}₽</h3>
    <p class="mb-10 text-right" data-timestamp="{{ order.date.isoformat() }}">{{ order.date.strftime('%Y-%B-%d %H:%M') }}</p>

    <h3 class="text-3xl mb-5">Товары</h3>
    {% for product in order.products %}

        <div class="mb-5 p-2 border rounded">
            <h4 class="text-xl">{{ product.product_name }}</h4>
            <p>Цена: {{ product.basic_price + product.selected_configuration.additional_price }}₽</p>
            <p>Конфигурация: {{ product.selected_configuration.name }} (+{{ product.selected_configuration.additional_price }}₽)</p>
            <p>Количество: {{ product.count }} штук{% if product.count % 10 in [2, 3, 4] %}и{% elif product.count % 10 == 1 %}а{% endif %}</p>
        </div>

    {% endfor %}

</div>
{% endfor %}


{% endblock %}


